- user = @login.user
p Willkomen #{ user.first_name }!
p Du wurdest für die Web-App der FS für Sozialwesen freigeschaltet.
p Du kannst dich mit deinem Passwort <b>#{ @password }</b> unter folgendem Link anmelden:
p = new_login_session_url
p
p Bis gleich!
