<td>
  <%= link_to login.email, login %>
</td>
<td>
  <%= form_for(login) do |f| %>

    <%= f.submit 'Change Role', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete login", login_path(login), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless login == current_login %>
</td>
