<div class="container">
  <div class="row">
    <h3>Logins</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @logins.each do |login| %>
            <tr>
              <%= render login %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
