p Vertrag vorzeitig gekündigt zum #{ l @student.contract_termination.date }
label Absage durch
p = @student.contract_termination.terminated_by
label Bemerkungen
p = @student.contract_termination.notes
